<footer>
  <p>&copy; 2024 - <a href="https://www.epc-qr.si/">www.epc-qr.si</a></p>
</footer>

{% css %}
  footer {
    background-color: #333333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
{% endcss %}